*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: rgb(0, 109, 128);
    justify-content: space-between;
    align-items: center;

}
.heading h1{
    color: white;
    margin-left: 540px;
}
.contant1{
    color: brown;
   text-align: left;
   font-size: 15px;
}
.contant2{
    margin-right: 500px;
    margin-top: -3.5%;
    text-align: center;
    color: brown;
    font-size: 15px;
}
.contant3{
    margin-right: 600px;
    margin-top: -3.5%;
    text-align: right;
    color: brown;
    font-size: 15px;
}
.contant4{
    margin-right: 310px;
    margin-top: -3.5%;
    text-align: right;
    color: brown;
    font-size: 15px;
}
.contant5{
    margin-right: 0px;
    margin-top: -3.5%;
    text-align: right;
    color: brown;
    font-size: 15px;
}
hr{
    background-color:black;
}

.department1{
    margin-right: 500px;
    margin-top: -5.5%;
    text-align: center;
}
.role1{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location1{
    margin-right: -160px;
    margin-top: -13.5%;
    text-align: right;
}
.button1{
    border-radius: 20px;
    margin-right: -315px;
    margin-top: -200.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button1 a{
    color: black;
    text-decoration: none;
}


.department2{
    margin-right: 500px;
    margin-top: -5.5%;
    text-align: center;
}
.role2{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location2{
    margin-right: -160px;
    margin-top: -13.5%;
    text-align: right;
}
.button2{
    border-radius: 20px;
    margin-right: -315px;
    margin-top: -200.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button2 a{
    color: black;
    text-decoration: none;
}




.department3{
    margin-right: 500px;
    margin-top: -5.5%;
    text-align: center;
}
.role3{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location3{
    margin-right: -185px;
    margin-top: -13.5%;
    text-align: right;
}
.button3{
    border-radius: 20px;
    margin-right: -290px;
    margin-top: -200.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button3 a{
    color: black;
    text-decoration: none;
}



.department4{
    margin-right: 500px;
    margin-top: -3.5%;
    text-align: center;
}
.role4{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location4{
    margin-right: -160px;
    margin-top: -13.5%;
    text-align: right;
}
.button4{
    border-radius: 20px;
    margin-right: -315px;
    margin-top: -200.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button4 a{
    color: black;
    text-decoration: none;
}


.department5{
    margin-right: 500px;
    margin-top: -2.5%;
    text-align: center;
}
.role5{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location5{
    margin-right: -160px;
    margin-top: -13.5%;
    text-align: right;
}
.button5{
    border-radius: 20px;
    margin-right: -315px;
    margin-top: -100.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button5 a{
    color: black;
    text-decoration: none;
}


.department6{
    margin-right: 500px;
    margin-top: -2.5%;
    text-align: center;
}
.role6{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location6{
    margin-right: -160px;
    margin-top: -13.5%;
    text-align: right;
}
.button6{
    border-radius: 20px;
    margin-right: -315px;
    margin-top: -200.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button6 a{
    color: black;
    text-decoration: none;
}

.department7{
    margin-right: 500px;
    margin-top: -2.5%;
    text-align: center;
}
.role7{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location7{
    margin-right: -160px;
    margin-top: -13.5%;
    text-align: right;
}
.button7{
    border-radius: 20px;
    margin-right: -315px;
    margin-top: -200.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button7 a{
    color: black;
    text-decoration: none;
}


.department8{
    margin-right: 500px;
    margin-top: -2.5%;
    text-align: center;
}
.role8{
    margin-left: 550px;
    margin-top: -4.5%;
    text-align: center;
}
.location8{
    margin-right: -160px;
    margin-top: -13.5%;
    text-align: right;
}
.button8{
    border-radius: 20px;
    margin-right: -315px;
    margin-top: -200.5%;
    background-color: yellow;
    animation: blinkbutton 1s infinite;
   
}
.button8 a{
    color: black;
    text-decoration: none;
}


@keyframes blinkbutton{
    0%{opacity: 0.1;}
    100%{opacity: 1;
    box-shadow: 1px 0px 30px black;}
}